
._snapshot{
    .snap-card{
        height: 93.7%;
        margin: auto;
    }
    .snap-card {
        .snap-text{
            font-size: 73%;
        }
    }
    .nav-btns1 .btn{
        margin-right:6px;
        .box{
            height:1px!important;
            width: 4px!important;
            padding: 1px 4px;
            margin-right: 2px;
        }
    }
}
.fontWeight6{
    font-weight: 600!important;
}
.fontWeight7{
    font-weight: 700!important;
}